<!--MODULO 4-->
<footer class="module4">
    <button class="footer__button">
        <!--ENLACE AL INICIO DE LA PAGINA-->
        <a href="#anchor-start"><img src="./assets/images/ico-arrow.png" alt="ico-arrow-scroll-up"
                title="go to start"></a>
    </button>

    <div class="footer">

        <nav class="footer__nav1">
            <ul class="footer__menu">
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="go to articles">Articles</a>
                </li>
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="read here our books">Books</a>
                </li>
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="info about our events">Events</a>
                </li>
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="know the reasons here">Reasons</a>
                </li>
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="we give you some tips here">Tips</a>
                </li>
            </ul>
        </nav>

        <nav class="footer__nav2">
            <ul class="footer__menu">
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="follow us">Twitter</a>
                </li>
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="follow us">Instagram</a>
                </li>
                <li>
                    <a class="footer__menu--link" href="https://adalab.es/" target="_blank"
                        title="follow us">Mastodon.social</a>
                </li>
            </ul>
        </nav>

        <div class="footer__small">
            <small class="footer__small--copy">©2021</small>
            <small class="footer__small--love">we <span class="footer__small--heart">❤︎</span> components</small>
        </div>

    </div>

</footer>