<!--MODULO 3-->
<section class="module3-container" id="anchor-reasons">
    <h2 class="module3-container__reasons">3 reasons to purchase</h2>
    <article class="module3-container__article1">
        <h2 class="module3-container__article--title">Ut sed metus</h2>
        <p class="module3-container__article--text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="module3-container__article2">
        <h2 class="module3-container__article--title">Curabitur ac erat</h2>
        <p class="module3-container__article--text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="module3-container__article3">
        <h2 class="module3-container__article--title">Morbi dictum</h2>
        <p class="module3-container__article--text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <!--AÑADIR TRANSICION-->
    <button class="module3-container__button">More reasons</button>
</section>