<!--MODULO 2-->
<section class="module2-container">

    <h3 class="module2-container__tips">Insomnia tips</h3>
    <article>
        <h2 class="module2-container__article--title">Looking through a window</h2>
        <p class="module2-container__article--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus
            felis, at luctus ex diam nec lectus. Vivamus
            semper sodales rutrum.</p>
    </article>
    <!--AÑADIR TRANSICION-->
    <button class="module2-container__button">Go</button>

</section>