// colors
$color-c: #f26002;
$color-white: #ffffff;
$color-lightblue: #8ccbea;
$color-ice-blue: #eff9ff;
$color-blue: #0271bc;
$color-dark-grey-blue: #304268;

// fonts
$font-family-title: "Roboto Slab", serif;
$font-family-text: "Roboto", sans-serif;
$color-greyish-brown: #4a4a4a;
$color-black: #000000;
