/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/

* {
  margin: 0;
  padding: 0;
}

// colors

$color-c: #f26002;
$color-white: #ffffff;
$color-lightblue: #8ccbea;
$color-ice-blue: #eff9ff;
$color-blue: #0271bc;
$color-dark-grey-blue: #304268;

// fonts
$font-family-title: "Roboto Slab", serif;
$font-family-text: "Roboto", sans-serif;
$color-greyish-brown: #4a4a4a;
$color-black: #000000;

//BODY

//HEADER

//hamburger menu
.header__ico-menu {
  width: 44px;
  height: 44px;
  background-color: $color-blue;
  position: fixed;
  top: 0;
}
.header__ico-menu--arrows {
  width: 16px;
  height: 14px;
  padding: 15px 14px;
}

//hero

.header__hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /*flex-end: los elementos aparecen agrupados al final ( end ) del eje principal*/
  text-align: center;
  color: $color-white;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
}
.header__text {
  margin-bottom: 53px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__hero--title {
  font-size: 42px;
  text-transform: uppercase;
  font-family: $font-family-title;
  margin-bottom: 10px;
}

.header__hero--subtitle {
  font-size: 16px;
  font-family: $font-family-text;
  margin-bottom: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.header__hero--button {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  text-decoration: none;
  border: none;
}

.header__hero--button:hover {
  border: none;
  outline: none;
}

// MAIN

// MODULE 2

.module2-container {
  width: 100%;
  height: 376px;
  box-sizing: border-box; /* no lo puedo poner en reset, ojo*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 15px 45px 15px;
}

.module2-container__tips {
  font-family: $font-family-text;
  color: $color-lightblue;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
}
.module2-container__article--title {
  font-family: $font-family-title;
  color: $color-black;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.module2-container__article--text {
  color: $color-greyish-brown;
  font-family: $font-family-text;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
}
.module2-container__button {
  width: 76px;
  height: 45px;
  margin: 30px 214px 0 0;
  padding: 0 25px 0 26px;
  border-radius: 22.5px;
  border: solid 2px $color-c;
  background-color: $color-white;
  font-family: $font-family-text;
  font-size: 20px;
  color: $color-c;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
}
/*hover transición*/
.module2-container__button:hover {
  background: $color-c;
  color: $color-white;
  border: none;
  outline: none;
  transition: all 1s;
}

// MODULE 3

.module3-container {
  width: 100%;
  height: 624px;
  background-color: $color-ice-blue;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.module3-container__reasons {
  font-family: $font-family-title;
  color: $color-black;
  font-size: 24px;
  text-transform: capitalize;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  grid-row: 1/2;
  margin-bottom: 30px;
}
.module3-container__article1 {
  grid-row: 2/3;
}
.module3-container__article2 {
  grid-row: 3/4;
}
.module3-container__article3 {
  grid-row: 4/5;
}

.module3-container__article--title {
  font-family: $font-family-title;
  color: $color-black;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
}

.module3-container__article--text {
  font-family: $font-family-text;
  color: $color-black;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 45px;
  width: 180px;
}

.module3-container__button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color-c;
  font-family: $font-family-text;
  font-size: 20px;
  color: $color-white;
  border: solid 2px $color-c;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  grid-row: 5/6;
  margin-bottom: 60px;
}
/*hover transición*/
.module3-container__button:hover {
  background: $color-white;
  color: $color-c;
  border: solid 2px $color-c;
  outline: none;
  transition: all 1s;
}

// FOOTER

// MODULE 4

.footer {
  width: 100%;
  height: 465px;
  background-color: $color-dark-grey-blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer__button {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  text-decoration: none;
  border: none;
  transform: translateY(-25px);
}

.footer__button:hover {
  border: none;
  outline: none;
}

.footer__menu {
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__menu--link {
  text-decoration: none;
  color: $color-white;
  font-family: $font-family-text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}
.footer__small {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.footer__small--heart {
  color: $color-c;
}
.footer__small--copy {
  color: $color-white;
  font-family: $font-family-text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
}
.footer__small--love {
  color: $color-white;
  font-family: $font-family-text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
}

#anchor-reasons {
  scroll-margin-top: 45px; /*corrección para que el menu no tape el texto*/
}

//MEDIAQUERIES

@media all and (min-width: 768px) {
  //HEADER MODULE 1
  .header__text {
    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 45px;
  }
  .header__hero--title {
    margin-bottom: 20px;
    font-size: 80px;
  }
  .header__hero--subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }
  // MAIN MODULE 2
  .module2-container {
    height: 330px;
    padding: 30px 39px 60px 39px;
  }
  .module2-container__article--title {
    font-size: 26px;
    line-height: 1.73;
    margin-bottom: 30px;
  }
  .module2-container__article--text {
    font-size: 20px;
    line-height: 1.5;
  }
  .module2-container__button {
    width: 91px;
    margin: 30px 599px 0 0;
    padding: 0 32.5px 0 33.5px;
  }
  // MAIN MODULE 3
  .module3-container {
    height: 397px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .module3-container__reasons {
    font-size: 26px;
    line-height: 1.73;
    margin-bottom: 45px;
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 30px;
  }
  .module3-container__article1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .module3-container__article2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .module3-container__article3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .module3-container__article--title {
    font-size: 24px;
    line-height: 1.25;
  }
  .module3-container__article--text {
    font-size: 20px;
    line-height: 1.5;
    width: 212.3px;
    margin-left: 21.85px;
    margin-right: 21.85px;
  }
  .module3-container__button {
    width: 210px;
    margin-bottom: 60px;
    grid-column: 1/4;
    grid-row: 3/4;
  }
  // FOOTER MODULE 4
  /*.footer {
    height: 240px;
    flex-direction: row;
  }

  

.footer__button {
  height: 45px;
  width: 45px;
  background-color: $color-white;
  border-radius: 22.5px;
  text-decoration: none;
  border: none;
  transform: translateY(-25px);
}

.footer__button:hover {
  border: none;
  outline: none;
}

.footer__menu {
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer__menu--link {
  text-decoration: none;
  color: $color-white;
  font-family: $font-family-text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}
.footer__small {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.footer__small--heart {
  color: $color-c;
}
.footer__small--copy {
  color: $color-white;
  font-family: $font-family-text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
}
.footer__small--love {
  color: $color-white;
  font-family: $font-family-text;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
}

*/
}
